$xs: 360px;
$sm: 482px;
$md: 576px;
$lg: 768px;
$xl: 992px;
$xxl: 1200px;
$xxxl: 1400px;

$background-main: #ffffff;
$background-second: #e7e7e7;
$background-contact: #272727;
$color-active: #2e9f9f;

// // 1200
// @media screen and (max-width: $xxl) {
// }
// // 992
// @media screen and (max-width: $xl) {
// }
// // 768
// @media screen and (max-width: $lg) {
// }
// // 576px
// @media screen and (max-width: $md) {
// }
// // 482px
// @media screen and (max-width: $sm) {
// }
// // 360px
// @media screen and (max-width: $xs) {
// }
