<div class='form slide'>
	<form class='form__wrapper'>
		<h3 class='form__title text-l font-medium'>Проконсультируйтесь со специалистом:</h3>
		<div class='form__inputs'>
			<div class='form__input form-input'>
				<input class='form-input__text' placeholder="Filter by title, companies, expertise..." type="text">
				<span class="form-input__placeholder">Ф.И.О <span class="form__definitely">*</span></span>
			</div>
			<div class='form__input form-input'>
				<input class='form-input__text' placeholder="Filter by title, companies, expertise..." type="text">
				<span class="form-input__placeholder">Телефон <span class="form__definitely">*</span></span>
			</div>
			<div class='form__input form-input'>
				<input class='form-input__text' placeholder="Filter by title, companies, expertise..." type="text">
				<span class="form-input__placeholder">E-mail <span class="form__definitely">*</span></span>
			</div>
		</div>
		<div class='form__check check-form text-xs'>
			<label class='check-form__container text-xs'>
				<input class='check-form__checkbox' type="checkbox" checked="checked">
				<span class="check-form__mark"></span>
				<span class='check-form__text-wrapper'>
					<span class='check-form__text text-xs'>Согласен на обработку персональных данных </span>
					<span class="form__definitely">*</span>
				</span>
			</label>
			<div class='form__definitely-wrapper'>
				<span class="form__definitely">*</span>
				<p class='check-form__text text-xs'>Поля, обязательные для заполнения</p>
			</div>
			<div class='form__button-wrapper'>
				<button class='form__button text-s'>Получить консультацию</button>
			</div>
		</div>
	</form>
</div>