<div class='info slide'>
	<div class='info__header background-contact'></div>
	<div class='info__content'>
		<div class='info__content-wrapper'>
			<div class='info__main info-main'>
				<h1 class="info-main__title text-2l font-semibold">Мы делаем обучение ещё выгоднее для вас!</h1>
				<button class='info-main__price-btn price-btn text-3l'>
					<span class='price-btn__discount-text'>Скидка</span>
					<span class='price-btn__discount-percent text-xl'>-43%</span>
				</button>
			</div>
			<div class='info__discount info-discount'>
				<div class="info-discount__title text-l">
					Зафиксируйте <span class='font-bold'>скидку</span> на все обучения!
				</div>
				<div class="info-discount__price">
					<div class='info-discount__price-old'>
						<span class='info-discount__price-old-number text-3l'>46 000</span>
						<p class='font-medium text-m'>/за место</p>
					</div>
					<div class='info-discount__price-new text-xxl font-semibold'>26 900₽</div>
				</div>
			</div>
		</div>
		<div class='info__benefits info-benefits'>
			<div class='info-benefits__block-wrapper'>
				<img class='info-benefits__image' src="./assets/img/check.svg" alt="check">
				<p class='info-benefits__text'>Возможность получить налоговый вычет — 13%</p>
			</div>
			<div class='info-benefits__block-wrapper'>
				<img class='info-benefits__image' src="./assets/img/check.svg" alt="check">
				<p class='info-benefits__text'>Кредит на обучение с господдержкой</p>
			</div>
		</div>
	</div>
	<div class='info__footer background-contact text-s'>
		<p class='info__footer-text'>
			По всем вопросам 8 (700) 989 99 99 по будням с 9 до 17 по МСК.
		</p>
		<span> Бесплатно по России</span>
	</div>
</div>