<footer class='footer'>
	<div class='slider-navigation'>
		<div class='slider-navigation__prev'>
			<svg class='slider-navigation__svg-prev slider-navigation__svg' width="24" height="24"
				xmlns="http://www.w3.org/2000/svg">
				<rect width="24" height="24" rx="12" />
				<path d="M14 6l-6 6 6 6" stroke="#fff" stroke-width="1.5" />
			</svg>
		</div>
		<div class='slider-navigation__numbers'>
			<div class='slider-navigation__number'></div>
			<div>/<span class='slider-navigation__last-number'></span></div>
		</div>
		<div class='slider-navigation__next'>
			<svg class='slider-navigation__svg-next slider-navigation__svg' width="24" height="24"
				xmlns="http://www.w3.org/2000/svg">
				<rect width="24" height="24" rx="12" />
				<path d="M14 6l-6 6 6 6" stroke="#fff" stroke-width="1.5" />
			</svg>
		</div>
	</div>
</footer>